### Day 2 Assignment

##### Lists and its default functions:

In [2]:
lst=[1,2,3,4]

In [3]:
lst.append(5)    #append method

In [4]:
lst

[1, 2, 3, 4, 5]

In [5]:
lst.append(2)

In [6]:
lst

[1, 2, 3, 4, 5, 2]

In [7]:
lst.count(2)    # Count: to count no. of obj occurence

2

In [8]:
lst1=[2,3,4,5,6]

In [9]:
lst.extend(lst1)   #extend : use dto extend the list by adding other list

In [10]:
lst

[1, 2, 3, 4, 5, 2, 2, 3, 4, 5, 6]

In [11]:
lst.count(2)

3

In [13]:
len(lst) #len : used to determine the length of the list

11

In [14]:
max(lst)  #max: used to detremine the maximum in the list

6

In [15]:
min(lst) #min: Used to determine minimum in the list

1

In [16]:
lst.index(5) # index: it is used to determine the lowest index of the element in the list

4

In [17]:
lst.remove(3) # remove: it is used to remove the element

In [18]:
lst

[1, 2, 4, 5, 2, 2, 3, 4, 5, 6]

In [19]:
lst.pop() #pop : it is used to pop the last elment out of the list

6

In [20]:
lst.sort()   #sort ; it is used to sort the list elemnt in ascending order

In [21]:
lst

[1, 2, 2, 2, 3, 4, 4, 5, 5]

In [22]:
lst.reverse()  #reverse: it is used to reverse the list element

In [23]:
lst

[5, 5, 4, 4, 3, 2, 2, 2, 1]

#### Tuple And its default function:

In [24]:
tup=('a','b',1,2,3)

In [25]:
tup

('a', 'b', 1, 2, 3)

In [27]:
tup1=(2,4,3,6,8,1,9)

In [28]:
max(tup1)   #max: It is used to determine max in the tuple

9

In [29]:
min(tup1)   #min: it is used to determine min in the tuple

1

#### Dictonary and its default function

In [45]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First',"python":1,"numpy":2}

In [33]:
dict

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'python': 1, 'numpy': 2}

In [34]:
len(dict)  #len: used to determine the length of the dictonary

5

In [35]:
str(dict)  # convert dictonary into pi=rintable string form

"{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'python': 1, 'numpy': 2}"

In [37]:
print(type (dict))  #print the type of datatype

<class 'dict'>

In [38]:
dict.keys()  # keys() : return the key in dictonary

dict_keys(['Name', 'Age', 'Class', 'python', 'numpy'])

In [39]:
dict.items() #items() : returns the item of the dictonary

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First'), ('python', 1), ('numpy', 2)])

In [40]:
dict.values()  #values(): return the values of the dictonary

dict_values(['Zara', 7, 'First', 1, 2])

In [46]:
dict["django"]=3 #to add new key,value pair in dictonary

In [47]:
dict

{'Name': 'Zara',
 'Age': 7,
 'Class': 'First',
 'python': 1,
 'numpy': 2,
 'django': 3}

In [43]:
dict.clear() #used to clear all the key, value pair from the dictonary

In [44]:
dict

{}

In [51]:
dict.pop('numpy') #pop: used to pop the key,value pair and return the value

2

In [52]:
dict.copy()  #Returns a shallow copy of dictionary dict

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'python': 1, 'django': 3}

#### Strings and its default function

In [53]:
str="Abhishek maurya"

In [54]:
str

'Abhishek maurya'

In [55]:
str.split(" ")  #split: It is used to split the string and add it to lists

['Abhishek', 'maurya']

In [56]:
str[1]  #it is used to acces the character with given index no.

'b'

In [57]:
str[1:] # slicing: It is used to access all the character after given index

'bhishek maurya'

In [58]:
len(str) # len: used to calculate lenth of string

15

In [59]:
str[:15]

'Abhishek maurya'

In [60]:
str[:15]+' is student'   # it is a method to add new part in string

'Abhishek maurya is student'

In [63]:
str1="abhishek"

str1.capitalize()  # used to captalize the first character of string

'Abhishek'

In [66]:
str.count("h",1,15)  # this method returns the occurence of character in the string

2

In [67]:
str2="1234hkh"

In [68]:
str2.isalpha() #Returns true if string has at least 1 character and all characters are alphabetic and false

False

In [69]:
str.islower( ) # check wether the all character of string is lower or not

False

#### Set and its default function

In [71]:
set={1,2,3,4,5}

In [72]:
set

{1, 2, 3, 4, 5}

In [75]:
set.add(6)  # used to add new element in the set

In [76]:
set

{1, 2, 3, 4, 5, 6}

In [77]:
fruits = {"apple", "banana", "cherry"}

In [78]:
fruits.clear()  #used to clear all the elemant of set

In [80]:
fruits

set()

In [81]:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()  # copy all the information in other set

In [82]:
x

{'apple', 'banana', 'cherry'}

In [83]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [84]:
z = x.difference(y)  #Returns a set containing the difference between two or more sets

In [85]:
z

{'banana', 'cherry'}

In [86]:
k = x.intersection(y)  #Returns a set, that is the intersection of two other sets

In [87]:
k

{'apple'}

In [88]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

In [89]:
z = x.issubset(y)   #	Returns whether another set contains this set or not

In [90]:
z

True

In [91]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) #Returns whether this set contains another set or not

print(z)

True

In [92]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()    #Removes an element from the set

print(fruits)

{'apple', 'cherry'}